<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'></link>
    <script src="/lib/jquery-3.0.0.js"></script>
    <script src="/lib/game/game.js"></script>    
    <script src="/lib/game/grid.js"></script>    
    <script src="/lib/game/box.js"></script>    
    <script src="/javascripts/scripts.js"></script>
  </head>
  <body>
    <div id='container'></div>
    <div class='grid'>
      <table align='center' class='gridtable'>
        <tr>
          <td class='element'><button class='1 button'></button></td>
          <td class='element'><button class='2 button'></button></td>
          <td class='element'><button class='3 button'></button></td>
        </tr>
        <tr>
          <td class='element'><button class='4 button'></button></td>
          <td class='element'><button class='5 button'></button></td>
          <td class='element'><button class='6 button'></button></td>
        </tr>
        <tr>
          <td class='element'><button class='7 button'></button></td>
          <td class='element'><button class='8 button'></button></td>
          <td class='element'><button class='9 button'></button></td>
        </tr>
      </table>
    </div>
  </body>
</html>