<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'></link>
    <script src="/lib/jquery-3.0.0.js"></script>
    <script src="/javascripts/scripts.js"></script>
  </head>
  <body>
    <div id='enter-name'></div>
    <div class='grid'>
      <table align='center' class='gridtable'>
        <tr>
          <td class='element'><button class='one button'></button></td>
          <td class='element'><button class='two button'></button></td>
          <td class='element'><button class='three button'></button></td>
        </tr>
        <tr>
          <td class='element'><button class='four button'></button></td>
          <td class='element'><button class='five button'></button></td>
          <td class='element'><button class='six button'></button></td>
        </tr>
        <tr>
          <td class='element'><button class='seven button'></button></td>
          <td class='element'><button class='eight button'></button></td>
          <td class='element'><button class='nine button'></button></td>
        </tr>
      </table>
    </div>
  </body>
</html>